@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-darkblue;
  font-family: monospace;
}

/* navbar */

nav li a {
  @apply px-4 py-8 text-lg text-white;
}

nav li a:hover {
  color: lightblue;
}

.mobile-nav {
  @apply fixed w-full top-16 bg-darkblue py-8 z-10 transition-transform 
  duration-500 border-b-2 border-lightblue border-opacity-20 md:border-b-0;
}

/* btn scroll to top */

.btn-to-top{
  position: relative;
}

.triangle-position{
  position: fixed;
  bottom: 42px;
  right: 27px;
  z-index: 20;
}

.triangle-style{
  background-color: #101326;
  border: 2px solid #e69cff; 
  color: #e69cff;
  cursor: pointer;
  border-radius: 50%;
  padding: 7px;
  height: 40px;
  width: 40px;
  animation: bouncetriangle 3s ease-in-out infinite;
  transition: all .5s ease-in-out;
}

.triangle-style:hover{
  background: #e69cff;
  color: #101326;
  border: 2px solid #101326;
  animation: none;
}

@keyframes bouncetriangle {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(20px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0px);
  }
}