@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-darkblue;
  font-family: monospace;
}

.main-btn {
  @apply inline-flex items-center space-x-2 font-mono px-6 py-3 border-white border rounded-md hover:bg-white;
}

/* navbar */

nav li a {
  @apply px-4 py-8 text-lg text-white;
}

nav li a:hover {
  color: lightblue;
}

.mobile-nav {
  @apply fixed w-full top-16 bg-darkblue py-8 z-10 transition-transform 
  duration-500 border-b-2 border-lightblue border-opacity-20 md:border-b-0;
}

/* projects section*/

.projects-grid-item {
  box-shadow: 5px 5px 5px 5px #101326;
  transition: box-shadow 0.3s ease;
  border-radius: 3px;
  min-height: 100%;
}

.item-image {
  border-radius: 3px;
}

.item-text {
  padding: 20px;
}

.item-links {
  margin-top: 35px;
  margin-bottom: 25px;
}



